@media only screen and (max-width: 1305px) {

	.row {
		padding: 0 20px;
	}

	/*-- Header --*/

	.main_nav li {
	    padding: 5px 5px;
	}

	/*-- /Header --*/

	/*-- Footer --*/

	.footer .col_left {
	    width: 238px;
	}

	.footer .col_right {
	    width: calc(100% - 238px);
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 1224px) {

	/*-- Header --*/

	.main_nav_scroll.fixed .short_logo_wrapp {
	    display: none;
	}

	.main_nav_scroll.fixed .main_nav_wrapp {
	    width: 100%;
	}

	/*-- /Header --*/

}


@media only screen and (max-width: 1124px) {

	/*-- Header --*/

	.top_row {
	    padding-bottom: 14px;
	}

	.top_row .col_left {
	    padding-top: 16px;
	}

	.header_three_cols .options_wrapp {
	    width: 201px;
	}

	.time_list_wrapp {
	    margin: 2px 0;
	    max-width: 280px;
	}

	.header_three_cols .time_des {
	    padding-bottom: 7px;
	}

	.time_list_wrapp ul {
	    display: block;
	    flex-wrap: none;
	}

	.time_list_wrapp ul li:nth-child(odd) {
	    width: 100%;
	}

	.time_list_wrapp ul li:nth-child(even) {
	    width: 100%;
	}

	.time_list_wrapp ul li {
		line-height: 1.6;
	}

	.main_nav_sect {
	    padding: 16px 0;
	}

	.main_nav li {
	    padding: 5px 7px;
	}

	.main_nav_scroll {
    	padding: 21px 0 17px 0;
	}

	.main_nav_scroll.fixed {
		padding: 5px 0;
	}

	/*-- /Header --*/

	/*-- Section 5 - Main Page --*/

	.thumb_2 {
		max-width: 185px;
	    height: 185px;
	}

	.thumb_2 .mask .inner {
	    padding: 10px 10px 8px 10px;
	}

	.thumb_2 .mask h3 {
	    font-size: 18px;
	    line-height: 19px;
	}

	/*-- /Section 5 - Main Page --*/

	/*-- Calendar --*/

	.day {
	    font-size: 13px;
	    line-height: 17px;
	}

	.num {
	    padding: 3px 0 0 0;
	    font-size: 17px;
	    line-height: 21px;
	}

	/*-- /Calendar --*/

	/*-- Section 1 - Afisha Events --*/

	.afisha_images .img_box_wrapp {
	    width: 100%;
	}

	/*-- /Section 1 - Afisha Events --*/

	/*-- Footer --*/

	.footer_three_cols .col:nth-child(1) {
	    width: calc(100% - 370px);
	}

	.footer_three_cols .col:nth-child(2) {
		width: 170px;
	}

	.texts_wrapp {
		width: calc(100% + 238px);
		margin-left: -238px;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1020px) {

	/*-- Header --*/

	.top_row {
	    padding: 0 0 8px 0;
	}

	.top_row .col_left {
	    width: 220px;
	    padding-top: 30px;
	    padding-right: 10px;
	}

	.top_row .col_right {
	    width: calc(100% - 220px);
	}

	.main_nav li a {
	    font-size: 14px;
	    line-height: 14px;
	}

	/*-- /Header --*/

	/*-- Filters --*/

	.filters_thumbs .filter_thumb {
	    width: 33.33%;
	}

	/*-- /Filters --*/

	/*-- Afisha thumbnails --*/

	.afisha_thumbnails .afisha_thumb,
	.afisha_thumbnails .afisha_thumb_big,
	.afisha_thumbnails .afisha_thumb_default {
	    width: calc(50% - 20px);
	}

	/*-- /Afisha thumbnails --*/

	/*-- Footer --*/

	.footer {
	    display: block;
	}

	.footer .col_left {
	    width: 100%;
	    padding-right: 0;
	}

	.footer .col_right {
	    width: 100%;
	    padding-right: 0;
	}

	.logo_white {
	    margin-bottom: 20px;
	}

	.footer_three_cols .col {
	    padding: 10px 10px;
	}

	.texts_wrapp {
	    width: 100%;
	    margin-left: 0;
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 900px) {

	.inner_page {
		padding-top: 100px;
	}

	.row {
		padding: 0 15px;
	}

	.hiiden_900 {
		display: none;
	}

	.resp_900 {
		display: block;
	}

	/*-- Header --*/

	.header_site {
	    background-color: transparent;
	    margin-bottom: 0;
	}

	#resp_header {
		width: 100%;
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 31;
	}

	#resp_header.grey_bg_dark {
		background-color: #6d777c;
	}

	#resp_header.bg {
		background-color: #6d777c;
	}

	.top_row .col_left {
	    padding-right: 5px;
	}

	.top_row .col_right {
	    padding-left: 5px;
	}

	.top_row {
		padding: 2px 0;
	    border-bottom: 1px solid rgba(255, 255, 255, .4);
	}

	.inner_header .top_row {
	    border-bottom: 1px solid #d0d0d0;
	}

	.top_row .col_left {
	    width: 85px;
	    padding-top: 14px;
	    padding-bottom: 14px;
	}

	.top_row .col_right {
	    width: calc(100% - 85px);
	}

	.resp_hidden {
		display: none;
	}

	.resp_inline {
		display: inline-block;
		vertical-align: top;
	}

	.logo {
		width: 75px;
	}

	.logo_desc {
		display: none !important;
	}

	.logo_resp {
	    display: block !important;
	}

	.main_nav_sect {
		height: none;
		height: auto;
	}

	.lang_active {
		color: #ffffff;
	}

	.lang_active:after {
	    background-image: url(img/little_arrow_white.svg);
	}

	.respmenubtn {
		display: block;
	}

	.header_three_cols .options_wrapp {
	    width: 100%;
	    margin: 0 -7px;
    	padding: 22px 0 5px 0;
	}

	.resp_inline {
	    padding: 10px 4px;
	}

	.main_nav_sect {
	    padding: 0;
	    margin: 0;
	}

	.main_nav_sect:before {
		display: none;
	}

	.promo_slider_wrapp {
    	margin: 0 -15px 17px -15px;
	}

	.promo_slider {
	    height: 440px;
	}

	.promo_slider .slide .img_box {
	    height: 440px;
	}

	.slides_desc_append .inner {
	    padding: 18px 38px 50px 38px;
	}

	.promo_slider_wrapp .promo_sl_arrows {
	    top: auto;
	    bottom: 10px;
	}

	.respmenubtn {
	    display: inline-block;
	}

	.main_nav_scroll_wrapp {
		display: none;
	}

	.main_nav > li {
		display: block;
		padding: 15px 0;
		text-align: left;
	}

	.main_nav > li > a {
		font-size: 22px;
		line-height: 22px;
		letter-spacing: 2.59px;
		font-weight: normal;
	}

	.main_nav li > ul {
	    min-width: 160px;
	    margin-top: 11px;
	    position: relative;
	    top: 100%;
	    left: 0;
	    transform: translate(0, 0);
	}

	.main_nav li > ul li {
	    display: block;
	    padding: 5px 0;
	    text-align: left;
	}

	.back_el {
		display: none !important;
	}

	.header_site.inner_header_2 {
	    margin-bottom: 0;
	}

	.promo_box {
		display: none;
	}

	/*-- /Header --*/

	/*-- Section 1 - Graphic Collections --*/

	.collections .collection {
	    width: calc(33.33% - 28px);
	}

	/*-- /Section 1 - Graphic Collections --*/

	/*-- Section 1 - Collection Exponat --*/

	.two_cols {
	    display: block;
		margin: 0 0 60px 0;
	}

	.two_cols .left_col {
	    width: 100%;
	    padding: 0;
	}

	.two_cols .right_col {
	    width: 100%;
	    padding: 10px 0;
	}

	.title_wrapp h1 {
	    padding: 8px 0;
	}

	.two_cols .grey_box {
		display: none;
	}

	.two_cols .resp_grey_box {
		display: block;
	}

	.img_box_2 {
	    margin: 13px 0;
	}

	/*-- /Section 1 - Collection Exponat --*/

	/*-- Resp Promo --*/

	.resp_promo {
	    display: block;
	}

	/*-- /Resp Promo --*/

/*-- Popup 1 --*/

.center_position {
	min-height: auto;
}

.search_form h3 {
	display: none;
}

input.search_input {
    height: 70px;
    padding: 0 30px 0 0;
    font-size: 16px;
    line-height: 62px;
}

.search_form_wrapp {
    height: 70px;
	margin-top: 51px;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ffffff;
}

.search_submit {
    width: 22px;
    height: 22px;
    background-image: url(img/search_white.svg);
    background-position: center;
    background-size: auto;
}

.search_form_wrapp .search_submit {
    top: 22px;
}

.search_form .close_btn {
	position: absolute;
	top: 0;
	right: 17px;
}

/*-- /Popup 1 --*/

}

@media only screen and (max-width: 767px) {

	h1 {
		font-size: 32px;
		line-height: 34px;
	}

/*-- Header --*/

.promo_slider {
    height: 570px;
}

.promo_slider .slide .img_box {
    height: 570px;
}

.promo_slider_wrapp .slides_desc_append {
    max-width: 100%;
    height: auto;
    background: rgba(126, 27, 31, 0.7);
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
}

.promo_slider .slide:before {
	content: "";
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.5) 25%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.5) 25%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 );
	position: absolute;
	top: 0;
	left: 0;
}

.slides_desc_append .inner {
    padding: 21px 13px 5px 13px;
}

.slides_desc_append h3 {
	font-size: 32px;
	line-height: 36px;
}

.slides_desc_append .transparent_pill_2 {
    margin: 14px 0;
}

.promo_slider_wrapp .promo_sl_arrows {
	padding: 13px;
	bottom: 5px;
}

/*-- /Header --*/

/*-- Slider Header --*/

.slider_header {
	display: block;
	position: relative;
}

.slider_header .left_col {
    width: 100%;
    padding-right: 0;
}

.slider_header .right_col {
    width: 200px;
    position: absolute;
	padding-top: 5px;
    padding-left: 0;
    top: 0;
    right: 0;
}

.inline_blocks {
	display: block;
	margin: 0;
}

.inline_blocks > div {
    padding: 3px 0;
}

.inline_right_blocks {
    margin: 0 -3px;
}

.inline_right_blocks > div {
    padding: 0 3px;
}

.inline_blocks > div:nth-child(1) {
	padding-right: 200px;
}

.inline_blocks h3 {
    font-size: 32px;
    line-height: 40px;
}

.filter_wrapp {
    margin: 8px 0;
}

/*-- /Slider Header --*/

/*-- Section 1 - Main Page --*/

.slider_1 {
    margin: 8px 0 6px -12px;
}

/*-- /Section 1 - Main Page --*/

/*-- Calendar --*/

.calendar_wrapp {
    padding: 10px 0 0 0;
}

.calendar_header {
    margin: 4px -15px 14px -15px;
    justify-content: center;
    -webkit-justify-content: center;
}

.calendar {
	display: none;
}

.resp_calendar {
	display: block;
}

/*-- /Calendar --*/

/*-- Filters --*/

.events_slider_wrapp {
	display: none;
}

.filters_wrapp {
	display: none;
}

.resp_filters_wrapp {
    display: block;
}

/*-- /Filters --*/

/*-- Section 1 - Afisha --*/

.page_header {
    padding-top: 13px;
}

/*-- /Section 1 - Afisha --*/

/*-- Afisha thumbnails --*/

.afisha_thumbnails .afisha_thumb,
.afisha_thumbnails .afisha_thumb_big,
.afisha_thumbnails .afisha_thumb_default {
    height: 280px;
}

.afisha_thumb .img_box {
	height: 280px;
}

.afisha_thumb_header {
    padding: 15px;
}

.afisha_thumb_descript {
    padding: 3px 15px;
}

.afisha_thumb_descript p {
    font-size: 14px;
    line-height: 16px;
}

.afisha_thumb_descript h3 {
    font-size: 20px;
    line-height: 21px;
}

.afisha_thumb_descript_footer {
	margin: 0 -8px;
    padding: 0 5px 0 0;
}

.afisha_thumb_descript_footer > div {
    padding: 3px 8px;
}

.afisha_thumb_default_header {
    padding: 15px;
}

.afisha_thumb_default_descript {
    padding: 3px 15px;
}

.afisha_thumb_default_descript p {
    font-size: 14px;
    line-height: 16px;
}

.afisha_thumb_default_descript h3 {
    font-size: 20px;
    line-height: 21px;
}

.afisha_thumb_default_descript_footer {
	margin: 0 -8px;
    padding: 0 5px 0 0;
}

.afisha_thumb_default_descript_footer > div {
    padding: 3px 8px;
}

.upload_btn_wrapp {
    padding: 9px 0 43px 0;
}

/*-- /Afisha thumbnails --*/

/*-- Section 1 - Afisha Events --*/

.two_cols_templ {
	display: block;
}

.two_cols_templ .left_col {
    width: 100%;
    padding: 0;
    text-align: left;
}

.two_cols_templ .right_col {
    width: 100%;
    padding: 0;
}

.items_wrap {
    width: 100%;
}

.text_wrapp {
    max-width: 100%;
}

.img_box_wrapp .img_box {
    height: 420px;
}

.afisha_images {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
}

.afisha_images .img_box_wrapp {
    width: calc(50% - 12px);    
}

/*-- /Section 1 - Afisha Events --*/

/*-- Section 2 - Exposition Page --*/

.exposition_sect {
	padding: 1px 0;
}

.exposition_sect .afisha_images {
    margin-bottom: 1px;
}

.single_thumb_wrapp .single_thumb {
    top: 59px;
    left: 0;
}

/*-- /Section 2 - Exposition Page --*/

/*-- Section 1 - Graphic Collections --*/

.collection h3 {
    font-size: 17px;
    line-height: 18px;
}

.collection .descript:after {
    margin: 10px 0;
}

/*-- /Section 1 - Graphic Collections --*/

/*-- Section 1 - Collection --*/

.page_header_2 {
	display: block;
	padding-top: 6px;
	padding-bottom: 13px;
}

.page_header_2 > div:nth-child(1) {
    width: 100%;
    padding-right: 0;
}

.page_header_2 > div:nth-child(2) {
    width: 100%;
    padding-left: 0;
    text-align: left;
}

.events_slider_wrapp_2 {
	display: none;
}

/*-- /Section 1 - Collection --*/

/*-- Section 1 - Search --*/

.rearch_result_info {
    padding: 26px 0 3px 0;
}

/*-- /Section 1 - Search --*/

/*-- Footer --*/

.seo_texts_wrapp {
	display: none;
}

.footer_three_cols .col:nth-child(1) {
    width: 54%;
}

.footer_three_cols .col:nth-child(2) {
	display: none;
}

.footer_three_cols .col:nth-child(3) {
    width: 46%;
}

.soc_resp_wrapp {
	display: block;
}

.site_map_wrapp_resp {
	display: block;
}

.texts_wrapp {
	display: block;
}

.site_map_wrapp {
	display: none;
}

.statistic_wrapp {
	display: none;
}

.texts_wrapp {
    margin: 0;
}

.texts_wrapp p {
    padding: 2px 0;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

section {
    padding: 10px 0;
}

.slider_header .right_col {
    width: 110px;
    padding-top: 16px;
}

.inline_blocks > div:nth-child(1) {
    padding-right: 110px;
}

/*-- Slider Header --*/

.tags {
    margin: 0 -1px 4px -1px;
}

.tags li {
    display: inline-block;
    vertical-align: top;
    padding: 1px;
}

/*-- /Slider Header --*/

/*-- Section 1 - Main Page --*/

.thumb_5 {
    height: 240px;
    max-width: 240px;
}

.thumb_5 .img_box {
    height: 240px;
    max-width: 240px;
}

.thumb_5 img {
    display: block;
    width: auto;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: none;
}

.thumb_5:hover img {
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb_5_descript {
    padding: 7px 15px;
}

.thumb_5_descript_footer > div {
    padding: 3px 12px;
}

.thumb_5_descript_footer {
    margin: 2px -12px;
}

.thumb_5_descript h3 {
    font-size: 20px;
    line-height: 20px;
}

.thumb_default {
    height: 240px;
    max-width: 240px;
}

.thumb_default_descript {
    padding: 7px 15px;
}

.thumb_default_descript_footer > div {
    padding: 3px 12px;
}

.thumb_default_descript_footer {
    margin: 2px -12px;
}

.thumb_default_descript h3 {
    font-size: 20px;
    line-height: 20px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.thumb_6 {
    height: 240px;
    max-width: 240px;
}

.thumb_6 .img_box {
    height: 240px;
    max-width: 240px;
}

.thumb_6 img {
    display: block;
    width: auto;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: none;
}

.thumb_6:hover img {
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb_6_descript {
    padding: 7px 15px;
}

.thumb_6_descript h3,
.thumb_6_descript h3.h3_big {
    font-size: 20px;
    line-height: 20px;
}

.thumb_6_descript h3 {
	padding: 0;
}

.thumb_6_descript_2 p {
    padding: 4px 0 0 0;
}

.thumb_6_descript_footer > div {
    padding: 3px 12px;
}

.thumb_6descript_footer {
    margin: 2px -12px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.thumb_4 {
    max-width: 240px;
}

.thumb_4 .img_box {
    height: 240px;
    width: 240px;
}

.thumb_4 img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: none;
}

.thumb_4:hover img {
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*-- /Section 3 - Main Page --*/

/*-- Afisha thumbnails --*/

.afisha_thumbnails {
    margin: 19px 0;
}

.afisha_thumbnails .afisha_thumb,
.afisha_thumbnails .afisha_thumb_big,
.afisha_thumbnails .afisha_thumb_default {
    width: 100%;
    margin: 10px 0;
}

/*-- /Afisha thumbnails --*/

/*-- Section 1 - Afisha Events --*/

.afisha_images {
	display: block;
}

.afisha_images .img_box_wrapp {
    width: 100%;    
}

.event_article p {
    padding: 2px 0;
}

.img_box_wrapp p {
    padding: 7px 0;
}

.text_quote_wrapp {
    margin: 11px 0;
}

.small_thumb {
    width: 240px;
    height: 240px;
}

.small_thumb .img_box {
    width: 240px;
    height: 240px;
}

.small_thumb_header {
    padding: 5px 15px;
}

.small_thumb_descript {
    padding: 5px 15px;
}

.small_thumb_descript h3 {
    padding: 0;
}

.small_thumb_descript p {
    padding: 0;
}

.single_image_slider_wrapp {
    margin: 20px 0;
}

.slide_footer {
    margin: 5px 0 0 0;
}

.single_image_slider .img_box {
    height: 420px;
}

/*-- /Section 1 - Afisha Events --*/

/*-- Exhibitions thumbnails --*/

.exhibitions_content {
	padding-top: 27px;
    padding-bottom: 30px;
}

.exhibitions_sect .afisha_thumbnails {
    margin: 1px 0;
}

/*-- /Exhibitions thumbnails --*/

/*-- Section 1 - Graphic Collections --*/

.collections .collection {
    width: calc(50% - 28px);
}

/*-- /Section 1 - Graphic Collections --*/

/*-- Footer --*/

.footer_section {
    padding: 12px 0 10px 0;
}

.footer_three_cols {
    margin-bottom: 7px;
}

.footer_three_cols .col:nth-child(1) {
    width: 100%;
}

.footer_three_cols .col:nth-child(3) {
    width: 100%;
    text-align: center;
}

.btn_wrapp {
	display: inline-block;
	vertical-align: top;
	max-width: 190px;
}

/*-- /Footer --*/

}


@media only screen and (max-width: 480px) {

	/*-- Slider Header --*/

	.slider_header .right_col {
	    width: 95px;
	    padding-top: 14px;
	}

	.inline_blocks > div:nth-child(1) {
	    padding-right: 95px;
	}

	/*-- /Slider Header --*/

}

@media only screen and (max-width: 480px) {

	/*-- Section 1 - Graphic Collections --*/

	.collections {
	    margin: 0;
	}

	.collections .collection {
	    width: 100%;
	    margin: 14px 0;
	}

	/*-- /Section 1 - Graphic Collections --*/

}

@media only screen and (min-width: 901px) {
	/*-- Header --*/
	.main_nav_scroll_wrapp {
		display: block !important;
	}
	/*-- /Header --*/
	/*-- Responsive Menus --*/
	.resp_menu {
		display: none !important;
	}
	/*-- /Responsive Menus --*/
}
