@media only screen and (max-width: 1305px) {

	.row {
		padding: 0 20px;
	}

	/*-- Header --*/

	.main_nav li {
	    padding: 5px 5px;
	}

	/*-- /Header --*/

	/*-- Footer --*/

	.footer .col_left {
	    width: 238px;
	}

	.footer .col_right {
	    width: calc(100% - 238px);
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 1224px) {

	/*-- Header --*/

	.main_nav_scroll.fixed .short_logo_wrapp {
	    display: none;
	}

	.main_nav_scroll.fixed .main_nav_wrapp {
	    width: 100%;
	}

	/*-- /Header --*/

	/*-- Section 1 - Afisha Events --*/

	.items_wrap {
	    margin-left: 10%;
	}

	/*-- /Section 1 - Afisha Events --*/

}


@media only screen and (max-width: 1124px) {

	/*-- Header --*/

	.top_row {
	    padding-bottom: 14px;
	}

	.top_row .col_left {
	    padding-top: 16px;
	}

	.header_three_cols .options_wrapp {
	    width: 201px;
	}

	.time_list_wrapp {
	    margin: 2px 0;
	    max-width: 280px;
	}

	.header_three_cols .time_des {
	    padding-bottom: 7px;
	}

	.time_list_wrapp ul {
	    display: block;
	    flex-wrap: none;
	}

	.time_list_wrapp ul li:nth-child(odd) {
	    width: 100%;
	}

	.time_list_wrapp ul li:nth-child(even) {
	    width: 100%;
	}

	.time_list_wrapp ul li {
		line-height: 1.6;
	}

	.main_nav_sect {
	    padding: 16px 0;
	}

	.main_nav li {
	    padding: 5px 7px;
	}

	.main_nav_scroll {
    	padding: 21px 0 17px 0;
	}

	.main_nav_scroll.fixed {
		padding: 5px 0;
	}

	/*-- /Header --*/

	/*-- Section 5 - Main Page --*/

	.thumb_2 {
		max-width: 185px;
	    height: 185px;
	}

	.thumb_2 .mask .inner {
	    padding: 10px 10px 8px 10px;
	}

	.thumb_2 .mask h3 {
	    font-size: 18px;
	    line-height: 19px;
	}

	/*-- /Section 5 - Main Page --*/

	/*-- Calendar --*/

	.day {
	    font-size: 13px;
	    line-height: 17px;
	}

	.num {
	    padding: 3px 0 0 0;
	    font-size: 17px;
	    line-height: 21px;
	}

	/*-- /Calendar --*/

	/*-- Section 1 - Afisha Events --*/

	.afisha_images .img_box_wrapp {
	    width: 100%;
	}

	/*-- /Section 1 - Afisha Events --*/

	/*-- Section 1 - Contacts --*/

	.two_cols_2 .left_col {
	    width: 32%;
	    padding-right: 25px;
	}

	.two_cols_2 .right_col {
	    width: 68%;
	    padding-left: 25px;
	}

	/*-- /Section 1 - Contacts --*/

	/*-- /Section 1 - Buy Books --*/

	.books_thumbnails .book_thumb {
		width: calc(33.33% - 20px);
	}

	.book_thumb .thumb_descript p {
	    font-size: 17px;
	    line-height: 19px;
	}

	.book_thumb .transparent_pill {
	    min-width: 125px;
	}

	/*-- /Section 1 - Buy Books --*/

	/*-- Section 1 - History --*/

	.years_nav.visible {
	    left: 10px;
	}

	.years_nav li {
	    padding: 5px 0;
	}

	.years_nav li a {
	    font-size: 16px;
	    line-height: 18px;
	}

	.years_nav li a.active,
	.years_nav li a.active_scroll {
	    font-size: 22px;
	}

	.years_nav li:last-child a.active,
	.years_nav li:last-child a.active_scroll {
	    font-size: 16px;
	}

	/*-- /Section 1 - History --*/

	/*-- Section 1 - Periodical --*/

	.three_cols {
	    display: block;
	    margin-bottom: 20px;
	}

	.three_cols .col:nth-child(1) {
	    width: 100%;
	    padding: 0;
	}

	.three_cols .col:nth-child(2) {
	    width: 100%;
	    padding: 10px 0 0 0;
	}

	.three_cols .col:nth-child(3) {
	    width: 100%;
	    padding: 0;
	}

	/*-- /Section 1 - Periodical --*/

	/*-- Section 2 - News Page --*/

	.news_page_article .afisha_images .img_box_wrapp {
	    width: calc(50% - 12px);
	}

	/*-- /Section 2 - News Page --*/

	/*-- Section 1 - One Project --*/

	.project_templ {
	    padding-left: 300px;
	}

	.projects_nav.visible {
	    left: 30px;
	}

	/*-- /Section 1 - One Project --*/

	/*-- Section 1 - Error Page --*/

	.error_image {
	    max-width: 480px;
	}

	.error_info {
	    padding: 5px 0;
	    font-size: 25px;
	    line-height: 30px;
	}

	.error_page_message p {
	    padding: 0;
	}

	.float_thumb .description {
	    margin-top: 0;
	}

	.float_thumb .description h3 {
	    padding: 2px 0;
	    font-size: 19px;
	    line-height: 25px;
	}

	.float_thumb .description p {
	    padding: 5px 0;
	    font-size: 15px;
	    line-height: 19px;
	}

	.float_thumb img {
	    -webkit-transform: scale(.8);
	    -moz-transform: scale(.8);
	    transform: scale(.8);
	}

	.float_thumb:hover img {
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    transform: scale(1);
	}

	.error_page_content .float_thumb_1 {
	    max-width: 360px;
	}

	.error_page_content .float_thumb_2 {
	    max-width: 220px;
	}

	.error_page_content .float_thumb_3 {
	    max-width: 250px;
	}

	.error_page_content .float_thumb_4 {
	    max-width: 350px;
	}

	.error_page_content .float_thumb_4:hover {
	    left: 48%;
	}

	/*-- /Section 1 - Error Page --*/

	/*-- Footer --*/

	.footer_three_cols .col:nth-child(1) {
	    width: calc(100% - 370px);
	}

	.footer_three_cols .col:nth-child(2) {
		width: 170px;
	}

	.texts_wrapp {
		width: calc(100% + 238px);
		margin-left: -238px;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1020px) {

	/*-- Header --*/

	.top_row {
	    padding: 0 0 8px 0;
	}

	.top_row .col_left {
	    width: 220px;
	    padding-top: 30px;
	    padding-right: 10px;
	}

	.top_row .col_right {
	    width: calc(100% - 220px);
	}

	.main_nav li a {
	    font-size: 14px;
	    line-height: 14px;
	}

	/*-- /Header --*/

	/*-- Filters --*/

	.filters_thumbs .filter_thumb {
	    width: 33.33%;
	}

	/*-- /Filters --*/

	/*-- Afisha thumbnails --*/

	.afisha_thumbnails .afisha_thumb,
	.afisha_thumbnails .afisha_thumb_big,
	.afisha_thumbnails .afisha_thumb_default {
	    width: calc(50% - 20px);
	}

	/*-- /Afisha thumbnails --*/

	/*-- Section 1 - Card --*/

	.card_templ {
		display: block;
		margin: 10px 0 20px 0;
	}

	.card_templ .left_col,
	.card_templ .right_col {
	    width: 100%;
	    padding: 10px 0;
	}

	/*-- /Section 1 - Card --*/

	/*-- Section 1 - History --*/

	.years_nav,
	.years_nav.visible {
	    display: none;
	}

	/*-- /Section 1 - History --*/

	/*-- Section 1 - Science --*/

	.tabs .tab {
	    padding: 6px 10px;
	    font-size: 14px;
	    line-height: 18px;
	}

	/*-- /Section 1 - Science --*/

	/*-- Section 1 - News --*/

	.projects_thumbnails_2 .project_thumb {
	    width: calc( 50% - 28px);
	}

	/*-- /Section 1 - News --*/

	/*-- Section 1 - One Project --*/

	.project_templ {
	    padding-left: 240px;
	}

	.projects_nav {
    	max-width: 197px;
	}

	.projects_nav li {
	    padding: 5px 0;
	}

	.projects_nav li a {
	    font-size: 16px;
	    line-height: 18px;
	    letter-spacing: unset;
	}

	.projects_nav li a.active,
	.projects_nav li a.active:hover {
		font-size: 18px;
		line-height: 18px;
	}

	/*-- /Section 1 - One Project --*/

	/*-- Footer --*/

	.footer {
	    display: block;
	}

	.footer .col_left {
	    width: 100%;
	    padding-right: 0;
	}

	.footer .col_right {
	    width: 100%;
	    padding-right: 0;
	}

	.logo_white {
	    margin-bottom: 20px;
	}

	.footer_three_cols .col {
	    padding: 10px 10px;
	}

	.texts_wrapp {
	    width: 100%;
	    margin-left: 0;
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 900px) {

	.inner_page {
		padding-top: 100px;
	}

	.row {
		padding: 0 15px;
	}

	.hiiden_900 {
		display: none;
	}

	.resp_900 {
		display: block;
	}

	/*-- Header --*/

	.header_site {
	    background-color: transparent;
	    margin-bottom: 0;
	}

	#resp_header {
		width: 100%;
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 31;
	}

	#resp_header.grey_bg_dark {
		background-color: #6d777c;
	}

	#resp_header.bg {
		background-color: #6d777c;
	}

	.top_row .col_left {
	    padding-right: 5px;
	}

	.top_row .col_right {
	    padding-left: 5px;
	}

	.top_row {
		padding: 2px 0;
	    border-bottom: 1px solid rgba(255, 255, 255, .4);
	}

	.inner_header .top_row {
	    border-bottom: 1px solid #d0d0d0;
	}

	.top_row .col_left {
	    width: 85px;
	    padding-top: 14px;
	    padding-bottom: 14px;
	}

	.top_row .col_right {
	    width: calc(100% - 85px);
	}

	.resp_hidden {
		display: none;
	}

	.resp_inline {
		display: inline-block;
		vertical-align: top;
	}

	.logo {
		width: 75px;
	}

	.logo_desc {
		display: none !important;
	}

	.logo_resp {
	    display: block !important;
	}

	.main_nav_sect {
		height: none;
		height: auto;
	}

	.lang_active {
		color: #ffffff;
	}

	.lang_active:after {
	    background-image: url(img/little_arrow_white.svg);
	}

	.respmenubtn {
		display: block;
	}

	.header_three_cols .options_wrapp {
	    width: 100%;
	    margin: 0 -7px;
    	padding: 22px 0 5px 0;
	}

	.resp_inline {
	    padding: 10px 4px;
	}

	.main_nav_sect {
	    padding: 0;
	    margin: 0;
	}

	.main_nav_sect:before {
		display: none;
	}

	.promo_slider_wrapp {
    	margin: 0 -15px 17px -15px;
	}

	.promo_slider {
	    height: 440px;
	}

	.promo_slider .slide .img_box {
	    height: 440px;
	}

	.slides_desc_append .inner {
	    padding: 18px 38px 50px 38px;
	}

	.promo_slider_wrapp .promo_sl_arrows {
	    top: auto;
	    bottom: 10px;
	}

	.respmenubtn {
	    display: inline-block;
	}

	.main_nav_scroll_wrapp {
		display: none;
	}

	.main_nav > li {
		display: block;
		padding: 15px 0;
		text-align: left;
	}

	.main_nav > li > a {
		font-size: 22px;
		line-height: 22px;
		letter-spacing: 2.59px;
		font-weight: normal;
	}

	.main_nav li > ul {
	    min-width: 160px;
	    margin-top: 11px;
	    position: relative;
	    top: 100%;
	    left: 0;
	    transform: translate(0, 0);
	}

	.main_nav li > ul li {
	    display: block;
	    padding: 5px 0;
	    text-align: left;
	}

	.back_el {
		display: none !important;
	}

	.header_site.inner_header_2 {
	    margin-bottom: 0;
	}

	.promo_box {
		display: none;
	}

	.logo.error_logo {
	    width: 182px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Graphic Collections --*/

	.collections .collection {
	    width: calc(33.33% - 28px);
	}

	/*-- /Section 1 - Graphic Collections --*/

	/*-- Section 1 - Collection Exponat --*/

	.two_cols {
	    display: block;
		margin: 0 0 60px 0;
	}

	.two_cols .left_col {
	    width: 100%;
	    padding: 0;
	}

	.two_cols .right_col {
	    width: 100%;
	    padding: 10px 0;
	}

	.title_wrapp h1 {
	    padding: 8px 0;
	}

	.two_cols .grey_box {
		display: none;
	}

	.two_cols .resp_grey_box {
		display: block;
	}

	.img_box_2 {
	    margin: 13px 0;
	}

	/*-- /Section 1 - Collection Exponat --*/

	/*-- Section 1 - Afisha Events --*/

	.items_wrap {
	    margin-left: 0;
	}

	/*-- /Section 1 - Afisha Events --*/

	/*-- Section 1 - Contacts --*/

	.two_cols_2 {
		display: block;
	}

	.two_cols_2 .left_col {
	    width: 100%;
	    padding-right: 0;
	}

	.two_cols_2 .right_col {
	    width: 100%;
	    padding-left: 0;
	}

	/*-- /Section 1 - Contacts --*/

	/*-- Resp Promo --*/

	.resp_promo {
	    display: block;
	}

	/*-- /Resp Promo --*/

	/*-- Section 1 - Contacts --*/

	.resp_map {
		display: block;
	}

	.two_cols_2 {
		margin: 30px 0 40px 0;
	}

	.dropdowns_wrapp {
		padding-top: 20px;
	}

	/*-- /Section 1 - Contacts --*/

	/*-- Section 1 - Buy --*/

	.two_cols_3 {
		display: block;
	}

	.two_cols_3 > .left_col {
	    width: 100%;
	    padding-right: 0;
	}

	.two_cols_3 > .right_col {
	    width: 100%;
	    padding-top: 15px;
	    padding-left: 0;
	}

	.tickets_dropdowns .transparent_pill {
	    margin: 20px 0;
	}

	/*-- /Section 1 - Buy --*/

	/*-- Section 1 - History --*/

	.numbers_thumbs {
	    justify-content: none;
	    -webkit-justify-content: none;
	}

	.number_thumb {
		width: 50%;
		padding: 10px 0;
	}

	/*-- /Section 1 - History --*/

	/*-- Section 1 - Director Words --*/

	.two_cols_5 .left_col {
	    width: 330px;
	}

	.two_cols_5 .right_col {
	    width: calc(100% - 330px);
	}

	/*-- /Section 1 - Director Words --*/

	/*-- Section 1 - Science --*/

	.tabs .tab {
	    font-size: 14px;
	    line-height: 18px;
	}

	/*-- /Section 1 - Science --*/

/*-- Popup 1 --*/

.search_dialog .modal-dialog-centered {
    align-items: flex-start;
    min-height: calc(100% - 1rem);
    padding-left: 15px;
}

.search_form h3 {
	display: none;
}

input.search_input {
    height: 70px;
    padding: 0 30px 0 0;
    font-size: 16px;
    line-height: 62px;
}

.search_form_wrapp {
    height: 70px;
	margin-top: 51px;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ffffff;
}

.search_submit {
    width: 22px;
    height: 22px;
    background-image: url(img/search_white.svg);
    background-position: center;
    background-size: auto;
}

.search_form_wrapp .search_submit {
    top: 22px;
}

.search_form .close_btn {
	position: absolute;
	top: 0;
	right: 0;
}

/*-- /Popup 1 --*/

}

@media only screen and (max-width: 767px) {

	h1 {
		font-size: 32px;
		line-height: 34px;
	}

/*-- Header --*/

.promo_slider {
    height: 570px;
}

.promo_slider .slide .img_box {
    height: 570px;
}

.promo_slider_wrapp .slides_desc_append {
    max-width: 100%;
    height: auto;
    background: rgba(126, 27, 31, 0.7);
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
}

.promo_slider .slide:before {
	content: "";
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.5) 25%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.5) 25%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 );
	position: absolute;
	top: 0;
	left: 0;
}

.slides_desc_append .inner {
    padding: 21px 13px 5px 13px;
}

.slides_desc_append h3 {
	font-size: 32px;
	line-height: 36px;
}

.slides_desc_append .transparent_pill_2 {
    margin: 14px 0;
}

.promo_slider_wrapp .promo_sl_arrows {
	padding: 13px;
	bottom: 5px;
}

/*-- /Header --*/

/*-- Slider Header --*/

.slider_header {
	display: block;
	position: relative;
}

.slider_header .left_col {
    width: 100%;
    padding-right: 0;
}

.slider_header .right_col {
    width: 200px;
    position: absolute;
	padding-top: 5px;
    padding-left: 0;
    top: 0;
    right: 0;
}

.inline_blocks {
	display: block;
	margin: 0;
}

.inline_blocks > div {
    padding: 3px 0;
}

.inline_right_blocks {
    margin: 0 -3px;
}

.inline_right_blocks > div {
    padding: 0 3px;
}

.inline_blocks > div:nth-child(1) {
	padding-right: 200px;
}

.inline_blocks h3 {
    font-size: 32px;
    line-height: 40px;
}

.filter_wrapp {
    margin: 8px 0;
}

/*-- /Slider Header --*/

/*-- Section 1 - Main Page --*/

.slider_1 {
    margin: 8px 0 6px -12px;
}

/*-- /Section 1 - Main Page --*/

/*-- Calendar --*/

.calendar_wrapp {
    padding: 10px 0 0 0;
}

.calendar_header {
    margin: 4px -15px 14px -15px;
    justify-content: center;
    -webkit-justify-content: center;
}

.calendar {
	display: none;
}

.resp_calendar {
	display: block;
}

/*-- /Calendar --*/

/*-- Filters --*/

.events_slider_wrapp {
	display: none;
}

.filters_wrapp {
	display: none;
}

.resp_filters_wrapp {
    display: block;
}

/*-- /Filters --*/

/*-- Section 1 - Afisha --*/

.page_header {
    padding-top: 13px;
}

/*-- /Section 1 - Afisha --*/

/*-- Afisha thumbnails --*/

.afisha_thumbnails .afisha_thumb,
.afisha_thumbnails .afisha_thumb_big,
.afisha_thumbnails .afisha_thumb_default {
    height: 280px;
}

.afisha_thumb .img_box {
	height: 280px;
}

.afisha_thumb_header {
    padding: 15px;
}

.afisha_thumb_descript {
    padding: 3px 15px;
}

.afisha_thumb_descript p {
    font-size: 14px;
    line-height: 16px;
}

.afisha_thumb_descript h3 {
    font-size: 20px;
    line-height: 21px;
}

.afisha_thumb_descript_footer {
	margin: 0 -8px;
    padding: 0 5px 0 0;
}

.afisha_thumb_descript_footer > div {
    padding: 3px 8px;
}

.afisha_thumb_default_header {
    padding: 15px;
}

.afisha_thumb_default_descript {
    padding: 3px 15px;
}

.afisha_thumb_default_descript p {
    font-size: 14px;
    line-height: 16px;
}

.afisha_thumb_default_descript h3 {
    font-size: 20px;
    line-height: 21px;
}

.afisha_thumb_default_descript_footer {
	margin: 0 -8px;
    padding: 0 5px 0 0;
}

.afisha_thumb_default_descript_footer > div {
    padding: 3px 8px;
}

.upload_btn_wrapp {
    padding: 9px 0 43px 0;
}

/*-- /Afisha thumbnails --*/

/*-- Section 1 - Afisha Events --*/

.two_cols_templ {
	display: block;
}

.two_cols_templ .left_col {
    width: 100%;
    padding: 0 0 20px 0;
    text-align: left;
}

.two_cols_templ .right_col {
    width: 100%;
    padding: 10px 0;
    border-top: solid 1px #d0d0d0;
}

.items_wrap {
    width: 100%;
}

.text_wrapp {
    max-width: 100%;
}

.img_box_wrapp .img_box {
    height: 420px;
}

.afisha_images {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
}

.afisha_images .img_box_wrapp {
    width: calc(50% - 12px);    
}

.item_1 {
    margin: 14px 0;
}

/*-- /Section 1 - Afisha Events --*/

/*-- Section 2 - Exposition Page --*/

.exposition_sect {
	padding: 1px 0;
}

.exposition_sect .afisha_images {
    margin-bottom: 1px;
}

.single_thumb_wrapp .single_thumb {
    top: 59px;
    left: 0;
}

/*-- /Section 2 - Exposition Page --*/

/*-- Section 1 - Graphic Collections --*/

.collection h3 {
    font-size: 17px;
    line-height: 18px;
}

.collection .descript:after {
    margin: 10px 0;
}

/*-- /Section 1 - Graphic Collections --*/

/*-- Section 1 - Collection --*/

.page_header_2 {
	display: block;
	padding-top: 6px;
	padding-bottom: 13px;
}

.page_header_2 > div:nth-child(1) {
    width: 100%;
    padding-right: 0;
}

.page_header_2 > div:nth-child(2) {
    width: 100%;
    padding-left: 0;
    text-align: left;
}

.events_slider_wrapp_2 {
	display: none;
}

/*-- /Section 1 - Collection --*/

/*-- Section 1 - Search --*/

.rearch_result_info {
    padding: 26px 0 3px 0;
}

/*-- /Section 1 - Search --*/

/*-- Section 1 - Active Voting --*/

.photo_article {
	display: block;
}

.photo_article .col_1 {
    width: 100%;
    padding: 5px 0 11px 0;
}

.photo_article .col_2 {
    width: 100%;
    padding: 0;
}

.photo_article .img_box {
	max-width: 360px;
}

.dropdown_title {
    padding: 15px 50px 16px 0;
}

/*-- /Section 1 - Active Voting --*/

/*-- Section 1 - Competition Without Nomination --*/

.photos_articles_wrapp h2 {
    padding: 5px 0 10px 0;
}

/*-- /Section 1 - Competition Without Nomination --*/

/*-- Section 1 - Contacts Guestbook --*/

.resp_btn_wrapp {
    display: block;
}

.contacts_templ {
	display: block;
}

.contacts_templ .left_col {
	width: 100%;
	padding: 0;
}

.contacts_templ .right_col {
	display: none;
}

.testimonial {
    margin-bottom: 20px;
}

.pagination_wrapp_2 {
    margin-top: 25px;
}

/*-- /Section 1 - Contacts Guestbook --*/

/*-- Section 1 - Contacts --*/

.personal_info .inner {
	display: block;
}

.personal_info .col_2 {
	width: 100%;
    padding-bottom: 5px;
    padding-right: 0;
}

.personal_info .col_3 {
	width: 100%;
    padding-left: 0;
}

.dropdown_title h2 {
    font-size: 19px;
    line-height: 26px;
}

/*-- /Section 1 - Contacts --*/

/*-- /Section 1 - Buy Books --*/

.books_thumbnails .book_thumb {
	width: calc(50% - 20px);
}

/*-- /Section 1 - Buy Books --*/

/*-- Card Modal --*/

.card_wrapp {
    padding: 15px 15px 25px 15px;
}

.card_title {
    padding: 10px 40px 10px 0;
}

.card_title h2 {
    font-size: 27px;
    line-height: 30px;
}

.two_cols_4 {
	display: block;
}

.two_cols_4 .left_col,
.two_cols_4 .right_col {
    width: 100%;
    padding: 10px 0;
}

.card_descript .transparent_pill {
    margin-top: 9px;
}

/*-- /Card Modal --*/

/*-- Section 1 - Private --*/

.dropdowns_2 {
    margin: 15px 0 20px 0;
}

.orders_table_header {
    padding-bottom: 0;
}

.orders_table_header .col:nth-child(1) {
	width: 32%;
}

.orders_table_header .col:nth-child(2) {
	width: 36%;
}

.orders_table_header .col:nth-child(3) {
	width: 32%;
}

.orders_table_header .col:nth-child(4) {
    display: none;
}

.orders_table_header .col:nth-child(5) {
    display: none;
}

.order_item .col:nth-child(1) {
	width: 32%;
}

.order_item .col:nth-child(2) {
	width: 36%;
}

.order_item .col:nth-child(3) {
	width: 32%;
}

.order_item .col:nth-child(4) {
    display: none;
}

.order_item .col:nth-child(5) {
    display: none;
}

.table_2 .cell:nth-child(1) {
    width: calc(100% - 125px);
}

.table_2 .cell:nth-child(2) {
    width: 60px;
}

/*-- /Section 1 - Private --*/

/*-- Section 2 - History --*/

.red_num h3 {
	padding: 0;
    font-size: 46px;
    line-height: 50px;
}

.red_num p {
    padding: 0;
    font-size: 17px;
    line-height: 19px;
}

.red_nums_thumbs {
    padding: 0 15px;
}

.red_num_thumb h3 {
	padding: 0;
    font-size: 46px;
    line-height: 50px;
}

.red_num_thumb p {
    padding: 0;
    font-size: 17px;
    line-height: 19px;
}

/*-- /Section 2 - History --*/

/*-- Section 1 - Director Words --*/

.two_cols_5 {
	display: block;
	margin-top: 11px;
}

.two_cols_5 .left_col {
    width: 100%;
    padding: 0 0 10px 0;
}

.two_cols_5 .right_col {
    width: 100%;
    padding: 10px 0 0 0;
}

.photo_wrapp {
	margin: 0 auto;
}

.photo_box {
    margin-top: 0;
    height: 382px;
}

/*-- /Section 1 - Director Words --*/

/*-- Section 1 - Science --*/

.tabs {
	display: none;
}

/*-- /Section 1 - Science --*/

/*-- Section 1 - Lib Book --*/

.two_cols_6 {
    display: block;
}

.two_cols_6 .left_col {
    width: 100%;
    padding: 10px 0;
}

.two_cols_6 .right_col {
    width: 100%;
    padding: 10px 0;
}

.buttons_wrapp_2 {
	text-align: left;
}

/*-- /Section 1 - Lib Book --*/

/*-- /Section 1 - Periodical --*/

.resp_filters_wrapp.resp_filters_wrapp_2 {
	padding-top: 0;
	margin-bottom: 15px;
}

.resp_filters_wrapp.resp_filters_wrapp_3 {
	padding-top: 0;
}

.years_filter_wrapp {
	display: none;
}

.resp_filters_wrapp {
	padding-top: 11px;
}

.resp_filters_wrapp .calendar_header {
	justify-content: flex-start;
    -webkit-justify-content: flex-start;
    margin: 0;
}

/*-- /Section 1 - Periodical --*/

/*-- Section 1 - Projects --*/

.projects_thumbnails {
    display: block;
    margin: 5px 0;
}

.project_thumb {
    width: 100%;
    margin: 24px 0;
}

.project_img_box_wrapp {
    height: 290px;
}

.project_thumb .img_box {
    height: 290px;
}

.project_thumb .descript {
	width: 100%;
    padding: 8px 0;
}

.project_thumb p {
    padding: 0;
}

.tags_2 {
    padding: 16px 0 2px 0;
}

.tags_2 li {
    padding: 4px 1px !important;
}

/*-- /Section 1 - Projects --*/

/*-- Section 1 - News --*/

.projects_thumbnails_2 {
	display: flex;
	display: -webkit-flex;
    margin-top: 25px;
}

.projects_thumbnails_2 .project_thumb {
    width: calc( 50% - 28px);
    margin: 14px;
}

/*-- /Section 1 - News --*/

/*-- Section 2 - News Page --*/

.news_page_article {
    margin: 15px auto;
}

/*-- /Section 2 - News Page --*/

/*-- Section 1 - One Project --*/

.project_templ {
    padding-left: 0;
}

.projects_nav {
	display: none;
}

/*-- /Section 1 - One Project --*/

/*-- Section 1 - Error Page --*/

.float_thumb {
	display: none;
}

.error_page {
    display: block;
    min-height: 100%;
}

.error_image {
    max-width: 90%;
    margin: 10px auto;
}

.error_page_message {
	display: block !important;
}

.resp_image {
    display: block;
}

.error_page_message p,
.error_page_message p a {
    font-size: 14px;
    line-height: 15px;
}

/*-- /Section 1 - Error Page --*/

/*-- Footer --*/

.seo_texts_wrapp {
	display: none;
}

.footer_three_cols .col:nth-child(1) {
    width: 54%;
}

.footer_three_cols .col:nth-child(2) {
	display: none;
}

.footer_three_cols .col:nth-child(3) {
    width: 46%;
}

.soc_resp_wrapp {
	display: block;
}

.site_map_wrapp_resp {
	display: block;
}

.texts_wrapp {
	display: block;
}

.site_map_wrapp {
	display: none;
}

.statistic_wrapp {
	display: none;
}

.texts_wrapp {
    margin: 0;
}

.texts_wrapp p {
    padding: 2px 0;
}

/*-- /Footer --*/

/*-- Popups --*/

.modal_title_2 h3 {
    font-size: 28px;
    line-height: 34px;
}

.modal_title_2 p {
    padding: 0;
}

/*-- /Popups --*/

}

@media only screen and (max-width: 600px) {

section {
    padding: 10px 0;
}

.slider_header .right_col {
    width: 110px;
    padding-top: 16px;
}

.inline_blocks > div:nth-child(1) {
    padding-right: 110px;
}

/*-- Slider Header --*/

.tags {
    margin: 0 -1px 4px -1px;
}

.tags li {
    display: inline-block;
    vertical-align: top;
    padding: 1px;
}

/*-- /Slider Header --*/

/*-- Section 1 - Main Page --*/

.thumb_5 {
    height: 240px;
    max-width: 240px;
}

.thumb_5 .img_box {
    height: 240px;
    max-width: 240px;
}

.thumb_5 img {
    display: block;
    width: auto;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: none;
}

.thumb_5:hover img {
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb_5_descript {
    padding: 7px 15px;
}

.thumb_5_descript_footer > div {
    padding: 3px 12px;
}

.thumb_5_descript_footer {
    margin: 2px -12px;
}

.thumb_5_descript h3 {
    font-size: 20px;
    line-height: 20px;
}

.thumb_default {
    height: 240px;
    max-width: 240px;
}

.thumb_default_descript {
    padding: 7px 15px;
}

.thumb_default_descript_footer > div {
    padding: 3px 12px;
}

.thumb_default_descript_footer {
    margin: 2px -12px;
}

.thumb_default_descript h3 {
    font-size: 20px;
    line-height: 20px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.thumb_6 {
    height: 240px;
    max-width: 240px;
}

.thumb_6 .img_box {
    height: 240px;
    max-width: 240px;
}

.thumb_6 img {
    display: block;
    width: auto;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: none;
}

.thumb_6:hover img {
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb_6_descript {
    padding: 7px 15px;
}

.thumb_6_descript h3,
.thumb_6_descript h3.h3_big {
    font-size: 20px;
    line-height: 20px;
}

.thumb_6_descript h3 {
	padding: 0;
}

.thumb_6_descript_2 p {
    padding: 4px 0 0 0;
}

.thumb_6_descript_footer > div {
    padding: 3px 12px;
}

.thumb_6descript_footer {
    margin: 2px -12px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.thumb_4 {
    max-width: 240px;
}

.thumb_4 .img_box {
    height: 240px;
    width: 240px;
}

.thumb_4 img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: none;
}

.thumb_4:hover img {
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*-- /Section 3 - Main Page --*/

/*-- Afisha thumbnails --*/

.afisha_thumbnails {
    margin: 19px 0;
}

.afisha_thumbnails .afisha_thumb,
.afisha_thumbnails .afisha_thumb_big,
.afisha_thumbnails .afisha_thumb_default {
    width: 100%;
    margin: 10px 0;
}

/*-- /Afisha thumbnails --*/

/*-- Section 1 - Afisha Events --*/

.afisha_images {
	display: block;
}

.afisha_images .img_box_wrapp {
    width: 100%;    
}

.event_article p {
    padding: 2px 0;
}

.img_box_wrapp p {
    padding: 7px 0;
}

.text_quote_wrapp {
    margin: 11px 0;
}

.small_thumb {
    width: 240px;
    height: 240px;
}

.small_thumb .img_box {
    width: 240px;
    height: 240px;
}

.small_thumb_header {
    padding: 5px 15px;
}

.small_thumb_descript {
    padding: 5px 15px;
}

.small_thumb_descript h3 {
    padding: 0;
}

.small_thumb_descript p {
    padding: 0;
}

.single_image_slider_wrapp {
    margin: 20px 0;
}

.slide_footer {
    margin: 5px 0 0 0;
}

.single_image_slider .img_box {
    height: 420px;
}

/*-- /Section 1 - Afisha Events --*/

/*-- Exhibitions thumbnails --*/

.exhibitions_content {
	padding-top: 27px;
    padding-bottom: 30px;
}

.exhibitions_sect .afisha_thumbnails {
    margin: 1px 0;
}

/*-- /Exhibitions thumbnails --*/

/*-- Section 1 - Graphic Collections --*/

.collections .collection {
    width: calc(50% - 28px);
}

/*-- /Section 1 - Graphic Collections --*/

/*-- Card Modal --*/

.card_wrapp {
    padding: 35px 15px 25px 15px;
}

.card_title {
    padding: 42px 0 10px 0;
    border-bottom: none;
}

.card_title h2 {
	font-size: 20px;
	line-height: 20px;
}

.card_title .close_2 {
    position: absolute;
    top: 0;
    right: auto;
    left: 0;
    margin-top: 0;
}

.two_cols_4 {
    padding: 4px 0 10px 0;
}

/*-- /Card Modal --*/

/*-- Section 1 - Card --*/

.card_templ {
    margin: 0 0 10px 0;
}

.good_item img {
    margin-right: 20px;
    margin-left: -100px;
}

.good_item h3 {
    font-size: 18px;
    line-height: 19px;
}

.price_table {
    flex-wrap: wrap;
    -webkit-align-items: center;
}

.price_table .col:nth-child(1) {
    width: 100%;
    margin-bottom: 20px;
}

.price_table .col:nth-child(2) {
    width: 130px;
}

.price_table .col:nth-child(3) {
    width: calc(100% - 130px);
}

.submit_wrapp_2 .transparent_pill_3 {
    min-width: 100%;
}

.total_price_p .rub {
	font-weight: normal;
}

/*-- /Section 1 - Card --*/

/*-- Section 1 - History --*/

.promo_box_2 {
	background-image: url(img/main-banner.jpg) !important;
}

.number_thumb {
	width: 100%;
	padding: 10px 0;
}

.promo_box_2_title {
	display: none;
}

/*-- /Section 1 - History --*/

/*-- Section 2 - History --*/

.single_image_slider_arrows.slider_arrows_2 {
	bottom: -11px;
}

.red_num {
    padding: 5px 0 10px 0;
}

.red_num h3 {
    padding: 5px 0;
    font-size: 41px;
    line-height: 41px;
}

.red_num p {
    padding: 5px 0;
    font-size: 16px;
    line-height: 19px;
}

.red_num_thumb {
	width: 50%;
	max-width: 50%;
}

.red_num_thumb p {
    padding: 0;
    font-size: 15px;
    line-height: 18px;
}

/*-- /Section 2 - History --*/

/*-- Section 1 - Partners --*/

.partners_thumbnails {
    margin: 10px 0 20px 0;
    text-align: center;
}

/*-- /Section 1 - Partners --*/

/*-- Section 1 - News --*/

.projects_thumbnails_2 {
    margin: 25px 0 0 0;
}

.projects_thumbnails_2 .project_thumb {
    width: 100%;
    margin: 14px 0;
}

/*-- /Section 1 - News --*/

/*-- Section 2 - News Page --*/

.news_page_article .afisha_images .img_box_wrapp {
    width: 100%;
}

/*-- /Section 2 - News Page --*/

/*-- Section 1 - One Project --*/

.projects_thumbs {
	display: block;
    margin: 0;
}

.projects_thumbs .project_thumb_3 {
    width: 100%;
    margin: 25px 0;
}

.project_article h2 {
    padding-top: 20px;
}

/*-- /Section 1 - One Project --*/

/*-- Section 2 - Sistem Page --*/

.table_3 .table_row .cell {
    padding: 13px 5px;
}

/*-- /Section 2 - Sistem Page --*/

/*-- Footer --*/

.footer_section {
    padding: 12px 0 10px 0;
}

.footer_three_cols {
    margin-bottom: 7px;
}

.footer_three_cols .col:nth-child(1) {
    width: 100%;
}

.footer_three_cols .col:nth-child(3) {
    width: 100%;
    text-align: center;
}

.btn_wrapp {
	display: inline-block;
	vertical-align: top;
	max-width: 190px;
}

/*-- /Footer --*/

/*-- Popups --*/

.upload_files_resp {
    display: block;
}

.form_two_cols {
	display: block;
	align-items: center;
    margin: 16px 0 0 0;
}

.drop_zone {
	display: none;
}

.form_two_cols .col {
	width: 100% !important;
}

.popup_form_2 textarea {
    height: 213px;
}

.modal_1 {
	min-height: 100vh;
    padding: 45px 15px 11px 15px;
}

.popup_form_2 .input_wrapp {
	margin-top: 20px;
}

.modal_3 {
	min-height: 100vh;
}

.modal_2 {
	min-height: 100vh;
    padding: 45px 15px 11px 15px;
}

.modal_4 {
	min-height: 100vh;
}

/*-- /Popups --*/

}

@media only screen and (max-width: 530px) {

/*-- /Section 1 - Buy Books --*/

.books_thumbnails .book_thumb {
	width: 100%;
	max-width: 290px;
	margin: 20px auto;
}

/*-- /Section 1 - Buy Books --*/

/*-- Section 1 - One Project --*/

.testimonial_wrapp {
	display: block;
    margin: 15px 0 38px 0;
}

.testimonial_wrapp .img_box {
    padding-right: 0;
    margin: 0 0 10px 0;
}

/*-- /Section 1 - One Project --*/

}


@media only screen and (max-width: 480px) {

	/*-- Slider Header --*/

	.slider_header .right_col {
	    width: 95px;
	    padding-top: 14px;
	}

	.inline_blocks > div:nth-child(1) {
	    padding-right: 95px;
	}

	/*-- /Slider Header --*/

	/*-- Section 1 - Contacts --*/

	.personal_info .col_1 {
	    width: 100px;
	}

	.personal_info .col_1 .img_box {
	    width: 80px;
	    height: 80px;
	}

	.personal_info:after {
	    width: calc(100% - 100px);
	}

	.personal_info .tel_link {
	    font-size: 17px;
	    line-height: 17px;
	}

	/*-- /Section 1 - Contacts --*/

	/*-- Section 1 - Lib Book --*/

	.resp_header h1 {
	    font-size: 27px;
	    line-height: 34px;
	}

	.buttons_wrapp_2 {
		padding: 5px 0;
		text-align: center;
	}

	/*-- /Section 1 - Lib Book --*/

	/*-- Section 1 - Lib Book Number --*/

	.content_item .col_1 {
	    width: calc(100% - 60px);
	}

	.content_item .col_2 {
	    width: 60px;
	}

	/*-- /Section 1 - Lib Book Number --*/

	/*-- Section 1 - Graphic Collections --*/

	.collections {
	    margin: 0;
	}

	.collections .collection {
	    width: 100%;
	    margin: 14px 0;
	}

	/*-- /Section 1 - Graphic Collections --*/

	/*-- Basket Succes Modal --*/

	.succes_modal {
		padding: 0;
		border-radius: 0;
	}

	.succes_modal .centered {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		-webkit-align-items: center;
		justify-content: center;
		-webkit-justify-content: center;
		width: 100%;
		min-height: 100vh;
	}

	.succes_modal .centered > div {
		max-width: 290px;
		margin: 0 auto;
	}

	.succes_modal h2 {
	    padding: 5px 0;
	    font-size: 28px;
	    line-height: 30px;
	}

	.succes_modal p {
	    padding: 8px 0;
	    font-size: 16px;
	    line-height: 17px;
	}

	#succesModal .modal-dialog {
	    margin: 0;
	}

	#succesModal .modal-dialog-centered {
	    width: calc(100vw - 17px);
	}

	/*-- /Basket Succes Modal --*/

	/*-- Section 1 - One Project --*/

	.personal_info_2 .col_1 .img_box {
	    width: 86px;
	    height: 86px;
	}

	.personal_info_2 .col_1 {
	    width: 96px;
	}

	.personal_info_2 .col_2 {
		width: calc(100% - 96px);
	    padding-top: 0;
	}

	/*-- /Section 1 - One Project --*/

}

@media only screen and (min-width: 901px) {
	/*-- Header --*/
	.main_nav_scroll_wrapp {
		display: block !important;
	}
	/*-- /Header --*/
	/*-- Responsive Menus --*/
	.resp_menu {
		display: none !important;
	}
	/*-- /Responsive Menus --*/
}
